
<Table @ref="table" TItem="LabelEntity" DataSource="Labels" PageIndex="@currentPage" PageSize="@pageSize" OnPageIndexChange="OnPageChange" Total="total">
    <TitleTemplate>
        <Flex Justify="FlexJustify.End" Gap="@("10")">
            <Button Type="ButtonType.Primary" @onclick="() => StartEditAsync(default)">创建</Button>
        </Flex>
    </TitleTemplate>
    <ColumnDefinitions Context="row">
        <PropertyColumn Property="c => c.Name"></PropertyColumn>
        <PropertyColumn Property="c => c.LabelStatus"></PropertyColumn>
        <PropertyColumn Property="c => c.LabelColor"></PropertyColumn>
        <ActionColumn Title="操作" Width="100">
            <Button @onclick="() => StartEditAsync(row)" Type="ButtonType.Primary" Shape="ButtonShape.Circle" Icon="@IconType.Outline.Edit" />
            <Button @onclick="() => Delete(row)" Type="ButtonType.Primary" Shape="ButtonShape.Circle" Danger Icon="@IconType.Outline.Delete" />
        </ActionColumn>
    </ColumnDefinitions>
</Table>
@code {
    ITable table;
    List<LabelEntity> Labels = new();
    int currentPage = 1;
    int pageSize = 5;
    RefAsync<int> total=0;

    /// <summary>
    /// 初始化
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        await GetPageList();
    }

    private async Task GetPageList()
    {
        Labels = await db.Queryable<LabelEntity>().ToPageListAsync(currentPage, pageSize,total);
    }

    /// <summary>
    /// 页面改变
    /// </summary>
    /// <param name="args"></param>
    /// <returns></returns>
    private async Task OnPageChange(PaginationEventArgs args)
    {
        currentPage = args.Page;
        pageSize = args.PageSize;
        await GetPageList();
    }

    /// <summary>
    /// 开始编辑
    /// </summary>
    /// <param name="row"></param>
    /// <returns></returns>
    private async Task StartEditAsync(LabelEntity row)
    {
        var data = row == null ? new() : row;
        ModalRef<bool> modalRef = default;
        IForm form = default;
        modalRef = ModalService.CreateModal<bool>(new()
        {
            Title = data.Id > 0 ? "编辑" : "新建",
            Content = @<Form @ref="form" Model="data" OnFinish="() => modalRef.OkAsync(true)" LabelColSpan="8" WrapperColSpan="16">
                <FormItem>
                    <Input @bind-Value="@context.Name"/>
                </FormItem>
                <FormItem>
                    <EnumSelect TEnum="LabelStatus" @bind-Value="@context.LabelStatus"/>
                </FormItem>
                <FormItem>
                    <EnumSelect TEnum="TagColor" @bind-Value="@context.LabelColor"/>
                </FormItem>
                <FormItem>
                    <TextArea MinRows="3" @bind-Value="@context.Description" />
                </FormItem>
            </Form>,

            OnOk = async (e) =>
            {
                if (!form.Validate())
                    return;

                var label = await db.Queryable<LabelEntity>().Where(x => x.Name == data.Name).FirstAsync();
                if (label != null && row.Id == 0)
                {
                    await message.ErrorAsync("名字重复");
                }

                // save db and refresh
                modalRef.SetConfirmLoading(true);


                if (data.Id > 0)
                {
                    //修改
                    await db.Updateable<LabelEntity>(data).ExecuteCommandAsync();
                }
                else
                {
                    //新增
                    await db.Insertable<LabelEntity>(data).ExecuteCommandAsync();
                }

                await modalRef.CloseAsync();
                await GetPageList();
                table.ReloadData();
                StateHasChanged();
            },
            OnCancel = async (e) =>
            {
                await modalRef.CloseAsync();
            }
        });
    }

    private async Task Delete(LabelEntity row)
    {
        if (!(await ComfirmService.Show("确认删这条数据吗?", "删除", ConfirmButtons.YesNo, ConfirmIcon.Warning) == ConfirmResult.Yes))
            return;

        await db.Deleteable<LabelEntity>().Where(x => x.Id == row.Id).ExecuteCommandAsync();
        await GetPageList();
        table.ReloadData();
        StateHasChanged();
    }
}

